/* CreatePost.css */

.create-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 100vh;
}

.create-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.create-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-page form input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.create-page form textarea {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.create-page form button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.create-page form button:hover {
  background-color: #ddd;
}



/* CSS cho trình soạn thảo văn bản */
.react-quill-container {
  max-width: 800px; /* Điều chỉnh chiều rộng tối đa của trình soạn thảo */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto; /* Cho phép cuộn ngang khi nội dung vượt quá kích thước tối đa */
}
