/* ResultPage.css */

.result-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
}

.result-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-results {
  list-style: none;
  padding: 0;
}

.question-results li {
  margin-bottom: 10px;
}

.score {
  font-weight: bold;
  margin-top: 10px;
}

.button-container button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button-container button:hover {
  background-color: #45a049;
}

.chart-container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
